<div class="header">
    <h2>
        <li class="nordic">
            <a href="/" class="button"> Nordic</a>
        </li>
        <ul class="icons">
            <li>
                <a href="/cv" class="button">
                    <i class="fa fa-file-code-o" title="Curriculum"></i>
                </a>
            </li>
            <li>
                <a href="/post" class="button">
                    <i class="fa fa-pencil" title="Blog"></i>
                </a>
            </li>
            <li>
                <a href="/about" class="button">
                    <i class="fa fa-id-badge" title="About me"></i>
                </a>
            </li>
        </ul>
    </h2>
</div>