html {
    font-size: 100%;
}

body {
    text-align: center;
    margin: 10%;
    
    font-family: $font-family;
    font-size: $font-size;
    color: $text-color;
    font-weight: normal;
    background-attachment: fixed !important;
    background: $background-color;
    background: linear-gradient($background-color, $color-dark);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: $color-dark;
    font-weight: bold;
}

h2 li, ul li{
    font-family: $font-family;
    font-size: $h1-font-size;
    font-weight: bold;
    display: inline;
    margin-right: 5%;
}

p {
    font-size: $font-size;
    color: $text-color;
}


h1, h2, h3, h4, h5, h6 {
    color:$text-color;
    font-family: $font-family;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $color-link;
    font-weight:400;

    &:visited {
        text-decoration: none;
        color: $color-visited-link;
    }
    
    &:hover {
        text-decoration: none;
        color: $color-hover-link;
    }
}

section img {
    max-width: 100%;
}

blockquote {
    border-left:3px solid $color-highlight;
    margin:0;
    font-style:italic;
}

code {
    font-family: $code-font-family;
    color: $text-color;
    font-size: $font-size;
}

pre {
    padding:2%;
    background: $color-dark;
    border-radius: 2px;
    border:1px solid $color-grey;
    
    code {
      color: $text-color;
      margin: 0;
      padding: 0;
    }
}

table {
    border-collapse:collapse;
    width:100%;
}

th {
    text-align:left;
    padding:5px 10px;
    border-bottom:1px solid $color-grey;
    color: $color-highlight;
    font-family: $font-family;
    font-weight: normal;
}