html {
    font-size: 100%;
}

body {
    background-attachment: fixed !important;
    background: $color-bg;
    background: linear-gradient($color-bg, $color-dark);
    padding-top: 90px;
}

.wrapper {
    text-align: center;
    font-family: $font-family;
    font-size: $font-size;
    color: $color-text;
    font-weight: normal;
    margin: 10%;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    color: $color-dark;
    font-weight: bold;
}

p {
    font-size: $font-size;
    color: $color-text;
}


h1, h2, h3, h4, h5, h6 {
    color:$color-text;
    font-family: $font-family;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: $color-link;
    font-weight:400;
    
    &:visited {
        text-decoration: none;
        color: $color-visited-link;
    }
    
    &:hover {
        text-decoration: none;
        color: $color-hover-link;
    }
}

section img {
    max-width: 100%;
}

blockquote {
    border-left:3px solid $color-highlight;
    margin:0;
    font-style:italic;
}

code {
    font-family: $code-font-family;
    color: $color-text;
    font-size: $font-size;
}

pre {
    padding:2%;
    background: $color-dark;
    border-radius: 2px;
    border:1px solid $color-grey;
    
    code {
        color: $color-text;
        margin: 0;
        padding: 0;
    }
}

table {
    border-collapse:collapse;
    width:100%;
}
