.header {
    position:absolute;
    top:0;
    width:100%;

    ul.icons li {
        float: right;
        margin-right: 3%;
        margin-left: 3%;
        display: inline;
    }

    .icons i {
        font-size: 30px;
        line-height:60px;
    }
}

.nordic{
    float: left;
    display: inline;
    
    font-family: $header-font-family;
    font-size: $header-font-size;
    font-weight: bold;
    float: left;
    margin-left: 3%;
    margin-right: 3%;

    a {
        &:visited {
            text-decoration: none;
            color: $color-blue;
        }
        
        &:hover {
            text-decoration: none;
            color: $color-blue;
        }
    }
}
