
/*
 * Color palette based of Nord
 * Repository: https://github.com/arcticicestudio/nord
*/

:root {
  --colorbg: #2e3440;
  --colorfg: #d8dee9;
  --color0: #3B4252;
  --color1: #BF616A;
  --color2: #A3BE8C;
  --color3: #EBCB8B;
  --color4: #81A1C1;
  --color5: #B48EAD;
  --color6: #88C0D0;
  --color7: #E5E9F0;
  --color8: #4C566A;
}

//WIP
// [data-theme="nordic"] {
//   --body-color: var(--dark-poole-002);
//   --body-bg: var(--dark-poole-001);
//   --heading-color: var(--dark-poole-002);
//   --link-color: var(--dark-poole-link-color);
//   --link-hover-color: var(--dark-poole-link-hover);
//   --border-color: rgba(255, 255, 255, 0.15);
//   --code-bg: var(--gray-900);
// }