// Variables
$font-family: "Iosevka Term", Roboto, Arial, sans-serif !default;
$font-size: 16px !default;
$header-font-family: "Cascadia Code", Consolas, Monaco, "Courier New", Courier, monospace;
$header-font-size: 60px;
$code-font-family: "Menlo", "Inconsolata", monospace;
// Color variables
$color-bg: var(--colorbg);
$color-text: var(--colorfg);
$color-dark: var(--color0);
$color-red: var(--color1);
$color-green: var(--color2);
$color-yellow: var(--color3);
$color-blue: var(--color4);
$color-pink: var(--color5);
$color-grey: var(--color8);
$color-vivid: $color-blue;
$color-hover-link: $color-grey;
$color-link: $color-blue;
$color-visited-link: $color-pink;
$color-highlight: $color-yellow;